.board-bylaw-info-wrapper{
    margin-right: 20%;
    h1, h2, h3{
        text-align: center;
    }
    .tab-section-one{
        margin-left: 40px;
    }
    .tab-section-two{
        margin-left: 80px;
    }
}