.full-head-start-page{

    margin-right: 10%;

    a{
        color: black;
        text-decoration: none;
    }

    .text-below-headstart-table{
        text-align: right;
    }

    table{
        width: 100%;
    }


    .picture-one img{
        float: left;
        width: 125px;
    }

    .picture-two{
        float: right;
        margin-right: 80px;
    }
}