.full-quicklinks-wrapper{
    margin: 20px 10%;

    .quicklinks-cards-wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 50px;

        a{
            background-color: black;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 50px;
            height: 250px;
            text-decoration: none;
            box-shadow: 5px 7px 24px -3px #000000;

            &:hover{
                color: $logored;
                background-color: $gray;
                box-shadow: 5px 7px 24px 5px #000000;
            }
        }
    }
}